*{
	font-family: Ubuntu, sans-serif;
	color:  #3F3F3F;
}

.primary-color{
	color: #5B69EA
}


.container{
	max-width: 1248px;
}

.left-side{
	z-index: 1;
}

.left-side h6{
	font-size: 1.2rem;
}

.custom-btn{
	border: none;
	background-image: url("../images/btn.png"), linear-gradient(to bottom right,#5967e9, #3847d0); 
	background-size:  contain;
	background-repeat: no-repeat;
	/*background-color: #4156fc ; */
	padding: 1.2em 2em;
	border-radius: 5px;
	color: #ffff;
	display: inline-block;
	text-align: center;
	/*font-size: 12px;*/
	width: 300px!important;
	box-shadow: 0px 5px 10px rgba(56, 71, 208, 0.25);
}
.custom-btn:hover{
	background-image: url("../images/btn.png"), linear-gradient(to bottom right,#414dbb, #071383); 
	box-shadow: 0px 5px 10px rgba(56, 71, 208, 0.25);
	color: #ffff;
}

.get-started-form input, select{
	box-shadow: 0px 5px 10px rgba(56, 71, 208, 0.25); 
}

.divider{
	background-color: #5B69EA;
	height: 2px;
	width: 70%;
}

.custom-character{
	color: #5B69EA;
	font-size: 1.7em;
}

.custom-testimony{
	background: #ffff;
	box-shadow: 0px 5px 20px rgba(56, 71, 208, 0.15);
	border-radius: 7px;
	padding: 20px;
	margin-bottom: 10px;
}

.custom-testimony-text {
  quotes: "“" "”" "‘" "’";
}

.custom-testimony-text::before{
	
}

.custom_font-size{
	font-size: 6px;
}

.about-list{
	padding-left: 16px!important;
}
.about-list li{
	margin-bottom: 1.5em;
}

.custom-bg-image{
	background-image: url("../images/custom-bg.png"); 
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.custom-section{
	margin-top: 10em;
}

.custom-carousal-container{
	background-color: #5B69EA;
}

.custom-grid-box {
	background: #ffff;
	box-shadow: 0px 5px 10px rgba(56, 71, 208, 0.25);
	border-radius: 7px;
	padding: 20px;
	margin-bottom: 10px;
	width: 100%;

}

.custom-float-box{
	position: absolute;
  top: -111px;
  left: 396px;
  z-index: 1;
}
.comment{
	 /*z-index: 1;
	 transition: transform 2s;
	 /*transition: z-index 2s;*/
}

.comment:hover{
	cursor: pointer;
	transform: scale(1.5,1.5);
	/*transform: ();*/
	z-index: 4;
}

.footer-child{
	padding: 90px;
	background-color: #212121;
}




@media screen and (max-width: 576px) {
  body{
  	font-size: 12px;
  }

  h1{
  	font-size: 25px
  }

  h5{
  	font-size: 12px;
  }
  .logo{
  	width: 85px;
  }

  h3{
  	font-size: 16px;

  }

  .custom-btn{
  	width: 100%!important;
  	display: inline-block;
  	text-align: center;
  	background-size: 100%;

  }

  .img-container{
  	width: 35%;
  }

  .custom-testimony{
  	padding: 7px;
  }

  .custom-bg-image{
  	padding-top: 90px;
  	padding-bottom: 90px;

  }

  .custom-float-box{
  	position: relative;
    top: 0;
    left: 0;
  }

  .footer-child{
  	padding: 30px 0;
  	background-color: #212121;
  }

  .footer-logo-design{
  	bottom: 0!important;
  	right: 0;
  }

  .footer-logo-design img{
  	width: 100px;
  }

  .header-logo-design{
		top: 1em;
		right: 0;
	}

	.header-logo-design img{
		width: 100px;
	}

	
	.zuri-design{
		position: absolute;
    bottom: 7em;
    left: 5em;
    z-index: 0;
    width: 75%;
	}

  
}



@media only screen and (min-width: 768px) {
	.zuri-design{
		position: absolute;
    bottom: 7em;
    left: 5em;
    z-index: 0;
    width: 75%;
	}
	.left-side h1{
		font-size: 1.9em;
	}
	.left-side h6{
		font-size: 1.1rem;
	}

	.custom-btn{
		border: none;
		background-image: url("../images/btn.png"), linear-gradient(to bottom right,#5967e9, #3847d0); 
		background-size:  100%;
		background-repeat: no-repeat;
		/*background-color: #4156fc ; */
		padding: 1.2em 2em;
		border-radius: 5px;
		color: #ffff;
		/*font-size: 12px;*/
		/*width: 90%!important;*/
		box-shadow: 0px 5px 10px rgba(56, 71, 208, 0.25);
	}



  .footer-logo-design{
		top: 10px;
		right: 0;
	}

	.header-logo-design{
		top: 2em;
		right: 0;
	}


}

@media only screen and (max-width: 1024px) and (min-width: 768px){ 

}

